.container-card{
  margin: 2.5%;
}
.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  margin:10px;
}


.course{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate (-50%,-50%);
}

.course h6{
  opacity: .6;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.course h2{
  letter-spacing: 1px;
  margin: 10px 0;
}

.preview{
  background: darkcyan;
  color: #fff;
  padding: 30px;
  width: 250px;
  position: relative;
}

.preview h6{
  font-size: 20px;
}

.preview h2{
  padding-left: 0;
}

.info{
  padding: 10px;
  position: relative;
  width: 100%;
}


.info h2{
  padding-left: 0;
  margin-top: 25px;
}

.progress-wrapper{
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;

}

.progress-wrapper h2{
  padding-left:0;
}

.progress{
  background: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after{
  content: "";
  border-radius: 3px;
  background: darkcyan;
  position:absolute;
  top:0;
  left:0;
  height:5px;
  width: 36%;

}

.progress-text{
  font-size: 10px;
  opacity: .6;
  letter-spacing: 1px;

}
.info p{
  font-size: 12px;
  font-weight: bold;
}

@media(max-width: 768px) {
  .course {
    flex-direction: column;
    width: 90%
  }
  .preview{
    width: 100%;
  }
  .preview h2 {
    margin: 10px 0 0;
  }
  .preview a {
    margin-top: 10px;
  }
  .info h2{
    margin-top: 20px;
  }
  .info p{
    margin-bottom: 50px;
  }
}