body {
  background-color:azure;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: darkcyan;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24pt;
  color: white;
  padding-left: 20px;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 70px;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24pt;
  font-weight: 900;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
}

.appointment-title-section {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.appointment-box {
  border-radius: 15px;
  height: 260px;
  width: 90%;
  background-color: #dcdedc;
  margin: auto;
}

#username {
  font-size: 56pt;
  font-weight: 900;
  margin-bottom: 5pt;
}

#present-date {
  font-size: 32pt;
  margin-top: 5pt;
  opacity: 30%;
}

#appointment-title {
  font-size: 32pt;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}

#appointment-description {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10pt;
}


/* GOOGLE MAPS API CSS */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}