body {
  background-color:azure;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: darkcyan;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24pt;
  color: white;
  padding-left: 20px;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 70px;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24pt;
  font-weight: 900;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
}

footer {
    height: 100px;
    background: #eee;
    opacity: 0%;
}

.appointment-title-section {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.appointment-box {
  border-radius: 15px;
  height: 260px;
  width: 90%;
  background-color: #dcdedc;
  margin: auto;
}

#username {
  font-size: 56pt;
  font-weight: 900;
  margin-bottom: 5pt;
}

#current-date {
  font-size: 32pt;
  margin-top: 5pt;
  opacity: 30%;
}

#appointment-title {
  font-size: 32pt;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}

#appointment-description {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10pt;
}

#newAppointment {
  margin-bottom: 15px;
  width: 75%;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  border-color: black;
}

#appointmentDay {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 75%;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  border-color: black;
}

#appointmentHour {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 75%;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  border-color: black;
}

#autocomplete {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 75%;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  border-color: black;
}

#output1 {
  font-size: 30pt;
}

#appTitle2 {
  font-size: 30pt;
}


/* PERSONALIZED CARD CSS */

.appointment1 {
  padding-left: 70px;
  padding-top: 70px;
  margin-bottom: 75px;
}

.appointment2 {
  padding-left: 70px;
  padding-top: 70px;
  margin-bottom: 75px;
}

.container-card{
  margin: auto;
}

.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  margin:10px;
}

.course{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate (-50%,-50%);
}

.course h6{
  opacity: .6;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.course h2{
  letter-spacing: 1px;
  margin: 10px 0;
}

.preview{
  background: darkcyan;
  color: #fff;
  padding: 35px;
  width: 250px;
  position: relative;
}

.preview h6{
  font-size: 20px;
}

.preview h2{
  padding-left: 0;
}

.preview2{
  background: grey;
  color: #fff;
  padding: 35px;
  width: 250px;
  position: relative;
}

.preview2 h2 {
  padding-left: 0;
}

.preview2 h6 {
  font-size: 20px;
}

.info{
  padding: 50px;
  position: relative;
  width: 100%;
}

.info h2{
  padding-left: 0;
  margin-top: 25px;
}

.progress-wrapper{
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;

}

.progress-wrapper h2{
  padding-left:0;
}

.progress{
  background: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after{
  content: "";
  border-radius: 3px;
  background: darkcyan;
  position:absolute;
  top:0;
  left:0;
  height:5px;
  width: 36%;

}

.progress-text{
  font-size: 10px;
  opacity: .6;
  letter-spacing: 1px;

}

.info p{
  font-size: 12px;
  font-weight: bold;
}

@media(max-width: 768px) {
  .course {
    flex-direction: column;
    width: 90%
  }
  .preview{
    width: 100%;
  }
  .preview h2 {
    margin: 10px 0 0;
  }
  .preview a {
    margin-top: 10px;
  }
  .info h2{
    margin-top: 20px;
  }
  .info p{
    margin-bottom: 50px;
  }
}

.submitButton{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  display: inline-flex;
  height: 30px;
  padding: 0;
  background: darkcyan;
  color: white;
  border:none;
  outline: none;
  border-radius: 5px;
  overflow:hidden;
  font-family: 'nunito sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor:pointer;
}

/* GOOGLE MAPS API CSS */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}